div.menu{
    background-color: lightgray;
}
.menu_item:hover, .drop_item:hover{
    background-color: gainsboro; 
}
#project_logo{
    border-right: 1px solid gainsboro;
}
div.menu li{
    border-right: 1px solid gainsboro;
}
div.drop_content{
    background-color: lightgray;
}
