/* top level elements */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}
a{
    text-decoration: none;
}
div.page_anchor{
    display: block;
    position: relative;
    visibility: hidden;
}
@page{
    margin-top: 1cm;
    margin-bottom: 1cm;
}


/* title */
div.title_page{
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}
div.title_page *{
    margin: auto;
    text-align: center;
}
#logo{
    max-height: 200px;
    max-width: 80%;
    margin: auto;
    display: block;
}
@media print{
    div.title_page{
        break-after: page;
    }
}

/* toc */
div.toc{
    margin: 5% 10%;
    font-size: 16px;
}
div.toc_item{
    white-space: nowrap;
    display: table;
    margin: 4px;
    width: 100%;
    border-collapse: collapse;
}
div.toc_item > * {
    display: table-cell;
    white-space: nowrap !important;
    padding: 0px 4px;
}
div.toc_item div.titlement{
    width: 100%;
    max-width: 0;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}
div.toc_item span.requirement{
    font-size: 12px;
    font-style: italic;
    color: gray;
}
@media print {
    div.toc{
        break-after: page;
    }
}

/* summary */
div.summary{
    margin: 5% 10%;
    font-size: 16px;
}
div.summary_title{
    white-space: nowrap;
    display: table;
    margin: 4px;
    width: 100%;
    border-collapse: collapse;
}
div.summary_title > div, div.summary_title > a{
    display: table-cell;
    white-space: nowrap;
    padding: 0px 4px;
}
div.summary_title div.title{
    width: 100%;
    max-width: 0;
    white-space: normal;
    text-decoration: underline;
}
div.summary_item{
    margin-top: 16px;
}
div.summary_item div.requirement, div.summary_item div.description{
    margin-bottom: 8px;
}
div.summary_item div.description{
    font-size: 12px;
}
@media print{
    div.summary_item{
        break-inside: avoid;
    }
}

/* detail */
div.detail{
    margin: 5% 10%;
    font-size: 16px;
}
div.detail_item{
    border-width: 1px;
    border-radius: 3px;
    border-color: gray;
    border-style: solid;
    padding: 8px;
    margin: 8px 0px;
}
div.detail_header > * {
    display: inline-block;
}
div.detail_header div.path{
    border-width: 1px;
    border-radius: 3px;
    border-color: black;
    border-style: solid;
    padding: 2px;
}
div.detail_title{
    margin-top: 16px;
}
div.detail_title > * {
    display: inline-block;
}
div.detail_title div.ord{
    font-size: 24px;
    margin-right: 16px;
}
div.detail_title div.title{
    font-size: 20px;
    text-decoration: underline;
    margin: 8px 0px;
}
div.detail_data{
    margin: 8px 0px 16px 0px;
}
div.detail_item label{
    font-weight: normal;
    font-size: 12px;
    color: gray;
    font-style: italic;
    vertical-align: top;
}
ul.detail_label_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.detail_label_list li{
    display: inline-block;
    border: solid 1px gainsboro;
    border-radius: 3px;
    padding: 2px 4px;
    margin-right: 8px;
}
ul.detail_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li.detail_list_item{
    white-space: nowrap;
    display: table;
    margin: 4px;
    width: 100%;
    border-collapse: collapse;
}
li.detail_list_item > * {
    display: table-cell;
    white-space: nowrap;
    padding: 0px 4px;
}
li.detail_list_item div.titlement{
    width: 100%;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
li.detail_list_item span.requirement{
    font-size: 12px;
    font-style: italic;
    color: gray;
}
div.relation_index{
    display: inline-block;
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold !important;
    padding: 2px !important;
    color: black !important;
    border-width: 1px !important;
    border-radius: 3px !important;
    border-color: black !important;
    border-style: solid !important;
}
@media print{
    div.detail_item{
        break-inside: avoid;
    }
}


/* indentation */
div.ord_1, a.ord_1{
    padding-left: 4px !important;  
}
div.ord_2, a.ord_2{
    padding-left: 14px !important;  
}
div.ord_3, a.ord_3{
    padding-left: 24px !important;  
}
div.ord_4, a.ord_4{
    padding-left: 34px !important;  
}
div.ord_5, a.ord_5{
    padding-left: 44px !important;  
}


.ord{
    font-style: italic;
    color: gray;
}

.title{
    color: black;
}

.requirement{
    color: black;
}
.shall{
    font-style: italic;
}

.index{
    display: inline-block;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold !important;
    border-width: 1px !important;
    border-radius: 3px !important;
    padding: 2px !important;
    color: black !important;
    background-color: lightgray !important;
    border-color: black !important;
    border-style: solid !important;
}

.type{
    display: inline-block;
    font-weight: bold !important;
    border-width: 1px !important;
    border-radius: 3px !important;
    padding: 2px !important;
    color: black !important;
    border-color: yellow !important;
    border-style: solid !important;
}
