body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
}

select{
    font-size: 16px;
}

div.container{
    height: 100%;
    display: table;
    table-layout: fixed;
}

div.navigation{
    border-right: 1px solid gainsboro;
    width: 10%;
    min-width: 152px;
    display: table-cell;
}

div.content{
    display: table-cell;
    padding: 20px;
}

/* toc table formatting */

div.toc_item{
    white-space: nowrap;
    display: table;
    margin: 4px;
    width: 100%;
    border-collapse: collapse;
}

div.toc_item > * {
    display: table-cell;
    white-space: nowrap;
    padding: 0px 4px;
}

div.toc_item a.titlement{
    width: 100%;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.toc_item span.requirement{
    font-style: italic;
    color: gray;
}

/* summary table formatting */

div.summary_title{
    white-space: nowrap;
    display: table;
    margin: 4px;
    width: 100%;
    border-collapse: collapse;
}

div.summary_title > div, div.summary_title > a{
    display: table-cell;
    white-space: nowrap;
    padding: 0px 4px;
}

div.summary_title a.title{
    width: 100%;
    max-width: 0;
    white-space: normal;
    text-decoration: underline;
}

div.summary_item{
    margin-top: 16px;
}

div.summary_item div.requirement, div.summary_item div.description{
    margin-bottom: 8px;
}

div.summary_item div.description{
    font-size: 12px;
}

/* requirement formatting */
/* general */
div.detail label{
    font-weight: normal;
    font-size: 12px;
    color: gray;
    font-style: italic;
    vertical-align: top;
}
button.delete{
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color: gainsboro;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 4px;
    margin-left: -3px;
}
button.delete:hover{
    color: white;
    background-color: red;
}

/* req_path_form */
#req_path_form{
    display: table;
    width: 100%;
    border-bottom: solid 1px gainsboro;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#req_path_form > * {
    display: table-cell;
    vertical-align: middle;
}

/* req_text_form */
#req_text_form > * {
    width: 100%;
    vertical-align: top;
    margin-bottom: 20px;
}
#req_text_form input{
    width: 80%;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
}
#req_text_form #id_title{
    font-size: 16px;
    font-weight: bold;
}
#req_text_form input:hover{
    border-color: gainsboro;
    border-radius: 3px;
}
#req_text_form textarea{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    field-sizing: content;
    resize: vertical;
}
#req_text_form textarea:hover{
    border-color: gainsboro;
    border-radius: 3px;
}

/* req_label */
#req_label{
    margin-bottom: 20px;
}
#req_label > * {
    display: inline-block;
}
#req_label ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#req_label li{
    display: inline-block;
    border: solid 1px gainsboro;
    border-radius: 3px;
    padding: 2px 4px;
    margin-right: 20px;
}

/* add_req_label_form */
#add_req_label_form > * {
    display: inline;
    margin-bottom: 20px;
}
#add_req_label_form > * {
    display: inline;
}

/* req_relation_form */
#req_relation_form{
    margin-bottom: 20px;
}
div.relation{
    margin-bottom: 20px;
}
div.relation label{
    display: block;
    margin-bottom: 4px;
}
div.relation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}
li.relation_list_item{
    display: table;
    margin-bottom: 4px;
}
li.relation_list_item > * {
    display: table-cell;
    vertical-align: top;
    white-space: nowrap;
    padding: 0px 4px;
}
li.relation_list_item a.titlement{
    width: 100%;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* add_req_relation_form */
#add_req_relation_form > * {
    display: inline;
    vertical-align: middle;
}
#add_req_relation{
    display: inline-table;
}
#add_req_relation *{
    display: table-cell;
    vertical-align: middle;
    margin: 4px;
}
#add_req_relation div{
    display: table-row;
}




div.detail select{
    border-color: transparent;
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}
div.detail select:hover{
    border-color: gainsboro;
    border-radius: 3px;
}


/* indentation */

div.ord_1, a.ord_1{
    padding-left: 4px !important;  
}

div.ord_2, a.ord_2{
    padding-left: 14px !important;  
}

div.ord_3, a.ord_3{
    padding-left: 24px !important;  
}

div.ord_4, a.ord_4{
    padding-left: 34px !important;  
}

div.ord_5, a.ord_5{
    padding-left: 44px !important;  
}

/* general styling */

.ord{
    font-style: italic;
    color: rgb(168, 168, 168);
}

.title{
    font-weight: bold;
    color: black;
}

.requirement{
    color: black;
}

.right{
    float: right;
}


.index{
    display: inline-block;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold !important;
    border-width: 1px !important;
    border-radius: 3px !important;
    padding: 2px !important;
    color: black !important;
    background-color: lightgray !important;
    border-color: black !important;
    border-style: solid !important;
}

.type{
    display: inline-block;
    font-weight: bold !important;
    border-width: 1px !important;
    border-radius: 3px !important;
    padding: 2px !important;
    color: black !important;
    background-color: yellow !important;
    border-color: black !important;
    border-style: solid !important;
}
