body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
}

div.container{
    height: 100%;
    display: table;
    table-layout: fixed;
}

div.navigation{
    border-right: 1px solid gainsboro;
    width: 10%;
    min-width: 152px;
    display: table-cell;
}

div.content{
    display: table-cell;
    padding: 20px;
}

/* toc table formatting */

div.toc_item{
    white-space: nowrap;
    display: table;
    margin: 4px;
    width: 100%;
    border-collapse: collapse;
}

div.toc_item > div, div.toc_item > a{
    display: table-cell;
    white-space: nowrap;
    padding: 0px 4px;
}

div.toc_item a.titlement{
    width: 100%;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* summary table formatting */

div.summary_title{
    white-space: nowrap;
    display: table;
    margin: 4px;
    width: 100%;
    border-collapse: collapse;
}

div.summary_title > div, div.summary_title > a{
    display: table-cell;
    white-space: nowrap;
    padding: 0px 4px;
}

div.summary_title a.title{
    width: 100%;
    max-width: 0;
    white-space: normal;
}

div.summary_item{
    margin-top: 16px;
}

div.summary_item div.requirement, div.summary_item div.description{
    margin-bottom: 8px;
}

div.summary_item div.description{
    font-size: 12px;
}


/* indentation */

div.ord_1, a.ord_1{
    padding-left: 4px !important;  
}

div.ord_2, a.ord_2{
    padding-left: 14px !important;  
}

div.ord_3, a.ord_3{
    padding-left: 24px !important;  
}

/* general styling */

.ord{
    font-style: italic;
    color: rgb(168, 168, 168);
}

.title{
    font-weight: bold;
    color: black;
}

.requirement{
    color: black;
}


.index{
    display: inline-block;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold !important;
    border-width: 1px !important;
    border-radius: 3px !important;
    padding: 2px !important;
    color: black !important;
    background-color: lightgray !important;
    border-color: black !important;
    border-style: solid !important;
}

.type{
    display: inline-block;
    font-weight: bold !important;
    border-width: 1px !important;
    border-radius: 3px !important;
    padding: 2px !important;
    color: black !important;
    background-color: yellow !important;
    border-color: black !important;
    border-style: solid !important;
}
