{% load static %}

<div class="menu" id="menu_section">
    <img src="{% static 'viewR/img/project_logo.png' %}" id="project_logo" alt="Project Logo">
    <ul>
        <li><a class="menu_item" id="toc_link" href="/viewR">Contents</a></li>
        <li><a class="menu_item" id="summary_link" href="/viewR/summary">Summary</a></li>
        <li>
            <div class="dropdown">
                <div class="menu_item">PDF</div>
                <div class="drop_content">
                    <p class="drop_section">Summary</p>
                    <a class="drop_item" id="pdf_summary_link" href="/viewR/pdf/summary">Preview</a>
                    <button class="drop_item menu-button" id="summary_pdf" data-action="/viewR/ajax_pdf/summary">Write</button>
                    <p class="drop_section">Detail</p>
                    <a class="drop_item" id="pdf_detail_link" href="/viewR/pdf/detail">Preview</a>
                    <button class="drop_item menu-button" id="detail_pdf" data-action="/viewR/ajax_pdf/detail">Write</button>
                </div>
            </div>
        </li>
    </ul>
</div>
