{% load static %}

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'viewR/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'viewR/css/color.css' %}">
    <script type="text/javascript" src="{% static 'viewR/js/jquery-3.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'viewR/js/page.js' %}"></script>
    <title></title>
  </head>
  <body>
    {{menu}}
    <div class="container">
      {{sidebar}}
      {{content}}
    </div>
  </body>
</html>