{% load static %}

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'viewR/img/favicon.png' %}" >
    <link rel="stylesheet" href="{% static 'viewR/css/pdf.css' %}">
    <link rel="stylesheet" href="{% static 'viewR/css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'viewR/css/color.css' %}">
    <script type="text/javascript" src="{% static 'viewR/js/jquery-3.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'viewR/js/page.js' %}"></script>
    <title>view R - PDF Preview</title>
  </head>
  <body>
    {{menu}}
    <div class="container">
        {{title}}
        {{toc}}
        {{content}}
    </div>
  </body>
</html>