{% load formatting %}

<div class="summary_item">
    <div class="summary_title">
        <div class="ord ord_{{ depth }}">{{ idx }}</div>
        <a class="title" href="/viewR/req/{{ req.index }}">{{req.title}}</a>
        <div><div class="type {{ req.type }}">{{ req.type|title_string }}</div></div>
        <div><div id="{{ req.index }}" class="index" >{{ req.index }}</div></div>
    </div>
    <div class="requirement ord_{{ depth_plus }}">{{ req.requirement|span_shall }}</div>
    <div class="description ord_{{ depth_plus }}">{{ req.description }}</div>
</div>
   